#menuNav {
    position: fixed;
    z-index: 2;

    .navbar-brand {

        img {
            max-height: unset;
            width: 55%;
        }

    }

    .navbar-menu {

        .navbar-item {

            span {
                font-family: NotoSans;
                color: var(--blue);
                border-bottom: 4px solid transparent;

                &:hover {
                    border-bottom: 4px solid var(--gray);
                    color: var(--gray);
                }

            }

        }

        #tvItem span,
        .icon-text span {
            border-bottom: none !important;

            &:hover {
                color: var(--skyBlue) !important;

            }
        }

        #userItem span,
        #userItem,
        #userItem .icon-text span {
            border-bottom: transparent !important;

            &:hover {
                background-color: var(--blue) !important;

            }

        }

        #userItem {
            margin-right: 1rem;
        }

        .navbar-link.is-active,
        .navbar-link:focus,
        .navbar-link:focus-within,
        .navbar-link:hover,
        a.navbar-item.is-active,
        a.navbar-item:focus,
        a.navbar-item:focus-within,
        a.navbar-item:hover {
            background-color: transparent;
        }


    }
}

@media (min-width:1024px) {

    .navbar-item {
        padding-left: 1rem;
    }
}

@media (max-width:576px) {

    #menuNav {
        padding: 0 1rem;
        top: 1rem;
        margin-bottom: 2rem;

        .navbar-brand {
            margin-left: 0;

            img {
                max-height: unset;
                width: 5rem;
            }

        }

        .navbar-item {
            padding-left: 0;
        }


    }
}