.mm {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
  }

.mm:before {
    content: '\00a0';
}

.svg-logo {
    background-image: url(../img/logo.svg);
}