@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://pro.fontawesome.com/releases/v5.10.0/css/all.css";
@import "/src/assets/css/helpers.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
 
@font-face {
    font-family: 'NotoSans';
    src: url('../src/assets/font/NotoSans-Regular.ttf');
}


body {
    margin: 0;
    padding: 0;
}

.yellow {
    color: #f5c10d;
}

.buttonFeatured {
    padding: 1rem;
    padding-left: 0;
    margin-right: 2rem;
    background-color: transparent;
    border: none !important;
    color: var(--yelow);
    margin-top: 2rem;
}